body{
    background-color: hsl(0, 0%, 89%);
}
#container{
    display:inline-block;
    background-color: hsl(240, 1%, 68%);
    text-align: center;
    padding:20px 30px;
    border-radius:20px;
    box-shadow: 5px 5px 5px hsla(0, 4%, 18%, 0.518);
    margin-left:50px;
    margin-top:100px;
}
#title{
    background-color: hsla(240, 2%, 74%, 0.449);
    padding:15px 10px;
    border-radius:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2.3em;
    color:hsl(0, 1%, 45%);
    text-shadow: 2px 2px 8px hsl(240, 100%, 100%);
}
.label{
    font-size:1.4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    color:hsl(0, 0%, 25%);
}
#generate{
    background-color: hsl(0, 0%, 35%);
    border:0;
    padding:7px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.2em;
    color:hsl(236, 100%, 94%);
    border-radius:10px;
    font-weight:bold;
    transition:background-color 0.25s;
    cursor:pointer;
}
#generate:hover{
    background-color: hsl(0, 0%, 25%);
}
#generate:active{
    background-color: hsl(0, 0%, 15%);
}
#pass{
    font-size: 1.4em;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma;
    color:hsl(0, 0%, 21%);
}
.lenght{
    background-color: hsl(0, 0%, 81%);
    border:0;
    border-radius: 5px;
    transition:background-color 0.5s;
    font-size:1.1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:hsl(0, 0%, 30%);
    text-align:center;
}
.lenght:hover{
    background-color: hsl(0, 0%, 74%);
}
#label{
    background-color: hsla(240, 2%, 74%, 0.449);
    text-align: center;
    display:inline-block;
    padding:10px;
    margin:10px;
    font-size:1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:hsl(0, 0%, 25%);
    border-radius: 10px;
}
